# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Google API credentials & tokens
credentials.json
token.json

# Logs
*.log

# Temporary files
*.tmp
*.bak

# MacOS metadata
.DS_Store
